flows.json
[{"id":"c8c78f4d.679e8","type":"subflow","name":"csvColumnParser","info":"","category":"","in":[{"x":70,"y":80,"wires":[{"id":"a8857356.d49e68"}]}],"out":[{"x":1090,"y":80,"wires":[{"id":"d71e0bef.46647","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a8857356.d49e68","type":"csv","z":"c8c78f4d.679e8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":170,"y":80,"wires":[["8e7f7187.84c86"]]},{"id":"3b501c89.fa554c","type":"split","z":"c8c78f4d.679e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":730,"y":80,"wires":[["6dad6ed9.c91f08"]]},{"id":"6dad6ed9.c91f08","type":"function","z":"c8c78f4d.679e8","name":"","func":"if (!context.results) context.results = {}\n\nif (!context.results[msg.topic]) context.results[msg.topic] = []\ncontext.results[msg.topic].push(msg.payload)\nmsg.file = context.results\n\nif ((msg.originalParts.index === msg.originalParts.count - 1) && (msg.parts.index === msg.parts.count - 1)) {\n    msg.payload = context.results\n    context.results = {}\n    return msg\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":80,"wires":[["d71e0bef.46647"]]},{"id":"d12b5d18.58218","type":"change","z":"c8c78f4d.679e8","name":"","rules":[{"t":"set","p":"originalParts","pt":"msg","to":"parts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":80,"wires":[["3b501c89.fa554c"]]},{"id":"d71e0bef.46647","type":"change","z":"c8c78f4d.679e8","name":"spread","rules":[{"t":"set","p":"payload","pt":"msg","to":"$spread(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":80,"wires":[[]]},{"id":"8e7f7187.84c86","type":"function","z":"c8c78f4d.679e8","name":"","func":"msg.payload.date = msg.payload.Time.slice(0,10)\nmsg.payload.Time = msg.payload.Time.slice(11,21)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["d12b5d18.58218"]]},{"id":"7970b645.1f8a28","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a6a9ae72.abaad","type":"debug","z":"7970b645.1f8a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":480,"wires":[]},{"id":"87c52360.48fd2","type":"subflow:c8c78f4d.679e8","z":"7970b645.1f8a28","name":"","env":[],"x":1330,"y":560,"wires":[["9598ff9d.e1c1d"]]},{"id":"1c992ecf.008211","type":"debug","z":"7970b645.1f8a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":680,"wires":[]},{"id":"9281c1bc.758a2","type":"http response","z":"7970b645.1f8a28","name":"","statusCode":"","headers":{"Index":"msg.data"},"x":1870,"y":560,"wires":[]},{"id":"82d69788.769e98","type":"file in","z":"7970b645.1f8a28","name":"","filename":"D:\\University\\Year 4\\Sensing and IOT\\Files\\twitter\\master2.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":950,"y":560,"wires":[["87c52360.48fd2"]]},{"id":"993e6e83.c95f1","type":"function","z":"7970b645.1f8a28","name":"","func":"msg.index = msg.payload.index ;\nmsg.payload.test=0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":560,"wires":[["82d69788.769e98"]]},{"id":"9598ff9d.e1c1d","type":"function","z":"7970b645.1f8a28","name":"","func":"var index = parseInt(msg.index) ;\nvar sentiment = msg.payload[1].Sentiment ;\nvar date = msg.payload[0].Time ; \nvar day = msg.payload[2].date[index];\nvar dates ;\nvar data;\nvar PieData;\nvar Linex;\nvar Liney;\n\n\nfunction searchStringInArray (str, strArray) {\n    var group = [] ;\n    var labels =[] ;\n    for (var j=2; j<strArray.length; j++) {\n        if (strArray[j].match(str)){\n        group.push(sentiment[j]) ;\n        labels.push(date[j]);\n        \n        }\n    }\n    return [labels,group];\n}\n\nfunction foo(arr) {\n  var a = 0,\n    b = 0,\n    c=0;\n\n  arr.sort();\n  for (var i = 0; i < arr.length; i++) {\n    if (arr[i] == 1) {\n      a+=1;\n      \n    } \n    else if (arr[i]== 0){\n      b+=1;\n    }else{\n    c+=1;\n    }\n  }\n\n  return [a,b,c];\n}\n\nif (index >= 3){\n    data= sentiment.slice(index-2,index+3);\n    dates= date.slice(index-2,index+3);\n    // msg.dat1 = dates[0];\n    // msg.dat2 = dates[1];\n    // msg.dat3 = dates[2];\n    // msg.dat4 = dates[3];\n    // msg.dat5 = dates[4];\n    \n}\nelse{\n    data = sentiment.slice(index, index + 6);\n    dates= date.slice(index,index+6);\n    // msg.dat1 = dates[0];\n    // msg.dat2 = dates[1];\n    // msg.dat3 = dates[2];\n    // msg.dat4 = dates[3];\n    // msg.dat5 = dates[4];\n    \n    \n}\nvar result = searchStringInArray(day,msg.payload[2].date) ;\n\n\nLineX=result[0];\nLineY = result[1] ;\nPieData = foo(LineY);\nmsg.payload={\n    \"mood\": sentiment[index],\n    \"data\":  data,\n    \"dates\" :dates,\n    \"PieData\": PieData,\n    \"LineData\": {\n        \"x\" : LineX,\n        \"y\" : LineY\n    }\n}\n\n\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":560,"wires":[["9281c1bc.758a2","1c992ecf.008211"]]},{"id":"a5015de7.0a486","type":"http in","z":"7970b645.1f8a28","name":"","url":"/mood","method":"get","upload":false,"swaggerDoc":"","x":180,"y":560,"wires":[["a6a9ae72.abaad","993e6e83.c95f1"]]},{"id":"a811e696.3f87c8","type":"http in","z":"7970b645.1f8a28","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":180,"y":380,"wires":[["57b716c0.d15ca8","584a235c.3c63cc"]]},{"id":"7ce7acee.e43104","type":"file in","z":"7970b645.1f8a28","name":"","filename":"D:\\University\\Year 4\\Sensing and IOT\\Files\\twitter\\master.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":740,"y":280,"wires":[["dc57816e.d5e68"]]},{"id":"57b716c0.d15ca8","type":"function","z":"7970b645.1f8a28","name":"","func":"msg.time = msg.payload.time ; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":380,"wires":[["7ce7acee.e43104","dc57816e.d5e68"]]},{"id":"69b7cd51.35a364","type":"http response","z":"7970b645.1f8a28","name":"","statusCode":"","headers":{},"x":1710,"y":380,"wires":[]},{"id":"d397a184.9dc5e","type":"template","z":"7970b645.1f8a28","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"index\": {{payload}}\n\n\n\n}\n\n\n\n\n\n\n","output":"str","x":1500,"y":380,"wires":[["69b7cd51.35a364"]]},{"id":"14912c73.97c4a4","type":"function","z":"7970b645.1f8a28","name":"","func":"\n// var g = [\"5\",6,7,8,1,9] ;\n\n// var index = new RegExp(msg.time.toString()) ;\n// var val =  msg.payload.match(index).index;\n\n// msg.payload = val/12 ;\n\n// return msg;\n\nfunction searchStringInArray (str, strArray) {\n    for (var j=2; j<strArray.length; j++) {\n        if (strArray[j].match(str)) return j;\n    }\n    return 1;\n}\n    \nvar val = searchStringInArray(msg.time, msg.payload) ;\n\nmsg.payload = val ;\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":380,"wires":[["d397a184.9dc5e"]]},{"id":"dc57816e.d5e68","type":"join","z":"7970b645.1f8a28","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":380,"wires":[["14912c73.97c4a4"]]},{"id":"584a235c.3c63cc","type":"debug","z":"7970b645.1f8a28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]}]